@import url(https://fonts.googleapis.com/css?family=Lora);
.link {

      font-family: 'Lora', serif;
      transition: .5s linear;
      margin-right: 10px;
      color: #606060;
      display: inline;
      padding: 1em;
       background: rgba(177, 152, 145, .3);
       border-right: 1px solid #b19891;
       color: #695753;
  
    };
    
.activeLink {
  background: #b19891
  };
  
.nav {
  display: block;
  width: 660px;
  margin: 0 auto 30px;
  padding: 1em 0;
  background: #ECDAD6;
}